body {
    line-height: 1.5;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #4f576c;
    font-size: 18px;
}

h1, h2, h3, h4 {
    font-weight: 700;
}

h1, h3 {
border-bottom: 1px solid #4f576c;
}

h1 {
    margin-top: 0;
    margin-bottom: 40px;
}

h2 {
    margin-top: 0px;
}

li {
    margin-bottom: 16px;
}

.recipe-card {
    background-color: #ebebeb;
    width: 800px;
    margin: 60px auto 60px auto;
    padding: 60px;
    border: 1px solid #4f576c;    
    }

.description-card {
    padding: 16px;
    background-color: #4f576c;
}

.description-card p, h2 {
    color: #ebebeb;
}


img {
    width: 400px;
    height: auto;
    margin: 0 auto 40px auto;
    border: 1px solid #4f576c;
    padding: 20px;
    box-sizing: border-box;
    display: block;
}

